# New API: Gnews
GNEWS_API_URL=https://gnews.io
GNEWS_API_KEY=your_gnews_api_key

# Weather API
OPEN_METEO_API_URL=https://api.open-meteo.com

# Telegram bot
TG_BOT_TOKEN=your_telegram_bot_token

# Database
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bot_db

# App
APP_PORT=3001
WEBHOOK_URL=